# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Testing
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# MyPy
# ==========================================

.mypy_cache/

# ==========================================
# Ruff
# ==========================================

.ruff_cache/

# ==========================================
# IDE
# ==========================================

.vscode/*
!.vscode/settings.json

.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Playwright
# ==========================================

playwright-report/
test-results/

# ==========================================
# Logs
# ==========================================

*.log